@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>
    <div class="container">
        <br />

        <header class="jumbotron">
            <h1><span class="glyphicon glyphicon-headphones"></span> My Music Application</h1>
        </header>

        <a class="btn btn-lg btn-info btn-block" href="/Albums/Details">Go to Albums</a>
        <a class="btn btn-lg btn-info btn-block" href="/Artists/Details">Go to Artists</a>
        <a class="btn btn-lg btn-info btn-block" href="/Genres/Details">Go to Genres</a>                
                            
        </div>

</body>

</html>