@{
    ViewData["Title"] = "Home Page";
}


<html>
<body>
    <div class="container">
        <header class="jumbotron">
            <h1><span class="glyphicon glyphicon-headphones"></span> My Music Application</h1>
        </header>

        <main>
            <div class="container">
                <ul class="nav nav-tabs nav-justified">
                    <li><a href="/Albums/Index">Go to albums</a></li>
                    <li><a href="/Artist/Index">Go to artist</a></li>
                    <li><a href="/Genre/Index">Go to the genres</a></li>
                </ul>
                <br>
            </div>
            
            </main>


</div>

</body>

</html>