@model MusicFall2016.Models.Artist
@{
    ViewData["Title"] = "Artist Information:";
}
<h1>Artist Details</h1>

@Model.Name
@Model.Bio

<br />

<form action="/Albums/Details" method="get">

    <br />

    <button class="btn btn-info" >Go back</button>

</form>