@model MusicFall2016.Models.Artist
@{
    ViewData["Title"] = "Update an Artists:";
}
<h1>Update Artist</h1>

<form asp-action="Update" method="post">

    <input type="hidden" asp-for="ArtistID" value="@Model.ArtistID" />

    Name <p><input type="text" asp-for="Name" value="@Model.Name" /></p>
    <span asp-validation-for="Name"></span>

    Bio <p><input type="text" asp-for="Bio" value="@Model.Bio" /></p>
    <span asp-validation-for="Bio"></span>

    <button class="btn btn-info">Update artist</button>

</form>

<br />

<form action="/Artists/Details" method="get">

    <button class="btn btn-info">Go back</button>

</form>
