@model MusicFall2016.Models.RegisterViewModel

@{
    ViewData["Title"] = "Account Registration";
}
<h3>Register New Account</h3>
<h5>Have an account? Click <a href="/Account/Login">here</a> to log in!</h5>



<form asp-action="Register" method="post">
    Email <p><input type="text" asp-for="Email" /></p>
    <span asp-validation-for="Email"></span>

    Password <p><input type="password" asp-for="Password" /></p>
    <span asp-validation-for="Password"></span>

    Confirm Password <p><input type="password" asp-for="ConfirmPassword" /></p>
    <span asp-validation-for="ConfirmPassword"></span>

    <button class="button btn btn-info" id="Register">Register Your Account</button>
</form>
