@model MusicFall2016.Models.Genre
@{
    ViewData["Title"] = "Create a Genre:";
}
<h1>Create Genre</h1>

<form asp-action="Create" method="post">

    <div>
        <div>Genre Name<p><input type="text" asp-for="Name" /></p></div>
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <button class="btn btn-info">Add genre</button>
    </div>

</form>

<br />

<form action="Details" method="get">

    <button class="btn btn-info">Go back</button>

</form>
