@model IEnumerable<MusicFall2016.Models.Genre>
@{
    ViewData["Title"] = "Genre";
}
<h1><span class="glyphicon glyphicon-music"></span> Genres</h1>

<table class="table">

    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>

    @foreach (var genre in Model)
    {
        <tr>
            <td><a asp-action="Genre" asp-route-id="@genre.GenreID">@genre.Name</a></td>

            <td>
                <a class="btn btn-sm btn-info" asp-action="Update" asp-route-id="@genre.GenreID">Edit</a>
                <a class="btn btn-sm btn-info" asp-action="Retrieve" asp-route-id="@genre.GenreID">Details</a>
                
            </td>
        </tr>    
    }

</table>

<form action="Create" method="get">

    <button class="btn btn-info">Create Genre</button>

</form>

<br />

<form action="\Home\Index" method="get">

    <button class="btn btn-info">Go back to Home Page</button>

</form>