@model MusicFall2016.Models.Genre
@{
    ViewData["Title"] = "Update a Genre:";
}

<h1>Update Genre</h1>

<form asp-action="Update" method="post">

    <p><input type="hidden" asp-for="GenreID" value="@Model.GenreID" /></p>

    Bio <p><input type="text" asp-for="Name" value="@Model.Name" /></p>
    <span asp-validation-for="Name"></span>

</form>

<button>Add genre</button>

<form action="/Genres/Details" method="get">
    
    <br />

    <button>Go back</button>

</form>
