@model MusicFall2016.Models.Album

@{
    ViewData["Title"] = "Select playlist:";
}
@*<h2>Select playlist for @Model.Title</h2><br />*@

<form asp-action="Add" method="post">

    <input type="hidden" asp-for="AlbumID" />

    <select asp-items="ViewBag.Playlist" name="PlayListID"></select>

    <input type="submit" value="Add playlist">
</form>

<form action="/Playlists/Index">

    <button class="btn btn-info">Go back</button>

</form>