@model MusicFall2016.Models.Album

@{
    ViewData["Title"] = "Select playlist:";
}
@*<h2>Select playlist for @Model.Title</h2><br />*@
<br />
<form asp-action="Add" method="post">

  
        <input type="hidden" asp-for="AlbumID" />

    <div><p>Select the playlist you wish to add the song to:</p>
        <select asp-items="ViewBag.Playlist" name="PlayListID"></select>
    </div>

    <br />

    <button class="btn btn-info" type="submit" >Add to Playlist</button>
</form>

<br/>

<form action="/Playlists/Index">

    <button class="btn btn-info">Go back</button>

</form>