@model MusicFall2016.Models.Playlist
    @{
        ViewData["Title"] = "Create a Playlist:";
    }

    <h2>Create Playlist:</h2>

    
    <form asp-action="Create" method="post">

        <div><input type="text" asp-for="name" /></div>

        <br/>
                   
            <button type="submit" class="btn btn-info">Create</button>
          
        </form>

<br/>

        <form action="/Playlists/Index" method="get">

            <button class="btn btn-info">Go back</button>

        </form>